.kbtam.kbtam--right {
    text-align: right;
}

.kbtam.kbtam--center {
    text-align: center;
}

.kbtam .kbtam__img {
    display: block;
    margin: 0 auto;
}

.kbtam .kbtam__img--signature {
    max-width:  150px;
    height: auto;
}

.kbtam .kbtam__img.round {
    border-radius: 50%;
}

.kbtam .kbtam__title,
.kbtam .kbtam__desc {
    margin: 16px 0 0;
}

.kbtam__title:before {
    display: none;
}

.kbtam .kbtam-social {
    padding: 0;
    margin: 16px 0 0;
}

.kbtam .kbtam-social li {
    display: inline-block;
    border: none;
    line-height: 0;
}

.kbtam-social li a.kbtam-social__icon {
    position: relative;
    display: inline-block;
    margin: 4px;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    transition: all 0.2s ease-in;
    text-align: center;
    font-size: 16px;
}

.kbtam-social .kbtam-social__icon i {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-50%);
}

.kbtam-social li:first-child a {
    margin-left: 0;
}

.kbtam-social li:last-child a {
    margin-right: 0;
}

.kbtam .kbtam-social li a:hover,
.kbtam .kbtam-social li a:active,
.kbtam .kbtam-social li a:focus {
    border: none;
    box-shadow: none;
    color: #000;
    background-color: #dfdfdf;
}
